@use 'styles/colors';
@use 'styles/constants';
@use 'styles/text';

.label {
  position: relative;

  display: block;
  width: fit-content;
  height: fit-content;
}

.icon {
  position: absolute;

  &--small {
    bottom: 6px;
    left: 6px;

    width: 12px;
    height: 12px;
  }

  &--medium {
    bottom: 8px;
    left: 8px;

    width: 16px;
    height: 16px;
  }

  &--large {
    bottom: 11px;
    left: 12px;

    width: 18px;
    height: 18px;
  }

  &--light {
    & path {
      fill: colors.$darkest-blue;
    }

    &.icon--dark-mode {
      & path {
        fill: colors.$white;
      }
    }
  }

  &--dark {
    & path {
      fill: colors.$white;
    }

    &.icon--light-mode {
      & path {
        fill: colors.$darkest-blue;
      }
    }
  }
}

.input {
  display: block;
  width: 100%;
  border: none;

  transition: 200ms;

  &:disabled {
    cursor: default;
  }

  &--small {
    @include text.text-s;

    height: 24px;
    padding: 0 12px;

    border-radius: constants.$radius-small;

    &.input--with-icon {
      padding-left: 24px;
    }
  }

  &--medium {
    @include text.text-m;

    height: 32px;
    padding: 0 16px;

    border-radius: constants.$radius-default;

    &.input--with-icon {
      padding-left: 32px;
    }
  }

  &--large {
    @include text.text-l;

    height: 40px;
    padding: 0 24px;

    border-radius: constants.$radius-large;

    &.input--with-icon {
      padding-left: 44px;
    }
  }

  &--light {
    color: colors.$darkest-blue;
    background-color: colors.$lighter-gray;

    &::placeholder {
      color: colors.$black50;
    }

    &:hover {
      box-shadow: inset 0 0 2px 0px colors.$light-gray;
    }

    &:focus {
      box-shadow: inset 0 0 4px 1px colors.$light-gray;
    }

    &:disabled {
      color: colors.$black50;
      box-shadow: none;

      &::placeholder {
        color: colors.$black25;
      }
    }

    &.input--dark-mode {
      color: colors.$white;
      background-color: colors.$darker-gray;

      &::placeholder {
        color: colors.$white50;
      }

      &:hover {
        background-color: colors.$dark-gray;
        box-shadow: none;
      }

      &:focus {
        background-color: colors.$gray;
        box-shadow: none;
      }

      &:disabled {
        color: colors.$white50;
        background-color: colors.$darker-gray;

        &::placeholder {
          color: colors.$white25;
        }
      }
    }
  }

  &--dark {
    color: colors.$white;
    background-color: colors.$darker-gray;

    &::placeholder {
      color: colors.$white50;
    }

    &:hover {
      background-color: colors.$dark-gray;
    }

    &:focus {
      background-color: colors.$gray;
    }

    &:disabled {
      color: colors.$white50;
      background-color: colors.$darker-gray;

      &::placeholder {
        color: colors.$white25;
      }
    }

    &.input--light-mode {
      color: colors.$darkest-blue;
      background-color: colors.$lighter-gray;

      &::placeholder {
        color: colors.$black50;
      }

      &:hover {
        box-shadow: inset 0 0 2px 0px colors.$light-gray;
      }

      &:focus {
        box-shadow: inset 0 0 4px 1px colors.$light-gray;
      }

      &:disabled {
        color: colors.$black50;
        box-shadow: none;

        &::placeholder {
          color: colors.$black25;
        }
      }
    }
  }
}
