.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--horizontal-padding, 16px) / 4);

  min-width: min-content;
  height: var(--height, 32px);
  padding: var(--vertical-padding, 0) calc(var(--horizontal-padding, 16px) / 2);
  border-width: var(--border-width, 1px);
  border-style: var(--border-style, solid);
  border-color: var(--border-color, black);
  border-radius: var(--border-radius, 6px);
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

  font-family: var(--font-family, inherit);
  font-size: var(--font-size, 14px);
  font-weight: var(--font-weight, 400);
  line-height: var(--line-height, 18px);
  color: var(--text-color, black);

  background-color: var(--background-color, transparent);
  outline: none;
  cursor: pointer;

  transition:
    background-color 200ms,
    border-color 200ms;

  &:has(.field:disabled) {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.wrapper--variant-filled {
  --border-width: 0;

  &.wrapper--status-default {
    --text-color: var(--color-text-filled-default-default, black);
    --prefix-color: var(--color-prefix-filled-default-default, gray);
    --postfix-color: var(--color-postfix-filled-default-default, gray);
    --icon-left-color: var(--color-icon-left-filled-default-default, gray);
    --icon-right-color: var(--color-icon-right-filled-default-default, gray);
    --icon-status-color: var(--color-icon-status-filled-default-default);
    --background-color: var(--color-bg-filled-default-default, lightgray);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-filled-default-hover, black);
        --prefix-color: var(--color-prefix-filled-default-hover, black);
        --postfix-color: var(--color-postfix-filled-default-hover, black);
        --icon-left-color: var(--color-icon-left-filled-default-hover, black);
        --icon-right-color: var(--color-icon-right-filled-default-hover, black);
        --icon-status-color: var(--color-icon-status-filled-default-hover);
        --background-color: var(--color-bg-filled-default-hover, lightgray);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-filled-default-focus, black);
        --prefix-color: var(--color-prefix-filled-default-focus, dodgerblue);
        --postfix-color: var(--color-postfix-filled-default-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-filled-default-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-filled-default-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-filled-default-focus);
        --background-color: var(--color-bg-filled-default-focus, lightblue);
      }
    }
  }

  &.wrapper--status-success {
    --text-color: var(--color-text-filled-success-default, black);
    --prefix-color: var(--color-prefix-filled-success-default, gray);
    --postfix-color: var(--color-postfix-filled-success-default, gray);
    --icon-left-color: var(--color-icon-left-filled-success-default, gray);
    --icon-right-color: var(--color-icon-right-filled-success-default, gray);
    --icon-status-color: var(--color-icon-status-filled-success-default);
    --background-color: var(--color-bg-filled-success-default, lightgreen);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-filled-success-hover, black);
        --prefix-color: var(--color-prefix-filled-success-hover, black);
        --postfix-color: var(--color-postfix-filled-success-hover, black);
        --icon-left-color: var(--color-icon-left-filled-success-hover, black);
        --icon-right-color: var(--color-icon-right-filled-success-hover, black);
        --icon-status-color: var(--color-icon-status-filled-success-hover);
        --background-color: var(--color-bg-filled-success-hover, lightgreen);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-filled-success-focus, black);
        --prefix-color: var(--color-prefix-filled-success-focus, dodgerblue);
        --postfix-color: var(--color-postfix-filled-success-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-filled-success-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-filled-success-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-filled-success-focus);
        --background-color: var(--color-bg-filled-success-focus, lightblue);
      }
    }
  }

  &.wrapper--status-warning {
    --text-color: var(--color-text-filled-warning-default, black);
    --prefix-color: var(--color-prefix-filled-warning-default, gray);
    --postfix-color: var(--color-postfix-filled-warning-default, gray);
    --icon-left-color: var(--color-icon-left-filled-warning-default, gray);
    --icon-right-color: var(--color-icon-right-filled-warning-default, gray);
    --icon-status-color: var(--color-icon-status-filled-warning-default);
    --background-color: var(--color-bg-filled-warning-default, lightyellow);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-filled-warning-hover, black);
        --prefix-color: var(--color-prefix-filled-warning-hover, black);
        --postfix-color: var(--color-postfix-filled-warning-hover, black);
        --icon-left-color: var(--color-icon-left-filled-warning-hover, black);
        --icon-right-color: var(--color-icon-right-filled-warning-hover, black);
        --icon-status-color: var(--color-icon-status-filled-warning-hover);
        --background-color: var(--color-bg-filled-warning-hover, lightyellow);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-filled-warning-focus, black);
        --prefix-color: var(--color-prefix-filled-warning-focus, dodgerblue);
        --postfix-color: var(--color-postfix-filled-warning-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-filled-warning-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-filled-warning-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-filled-warning-focus);
        --background-color: var(--color-bg-filled-warning-focus, lightblue);
      }
    }
  }

  &.wrapper--status-danger {
    --text-color: var(--color-text-filled-danger-default, black);
    --prefix-color: var(--color-prefix-filled-danger-default, gray);
    --postfix-color: var(--color-postfix-filled-danger-default, gray);
    --icon-left-color: var(--color-icon-left-filled-danger-default, gray);
    --icon-right-color: var(--color-icon-right-filled-danger-default, gray);
    --icon-status-color: var(--color-icon-status-filled-danger-default);
    --background-color: var(--color-bg-filled-danger-default, lightcoral);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-filled-danger-hover, black);
        --prefix-color: var(--color-prefix-filled-danger-hover, black);
        --postfix-color: var(--color-postfix-filled-danger-hover, black);
        --icon-left-color: var(--color-icon-left-filled-danger-hover, black);
        --icon-right-color: var(--color-icon-right-filled-danger-hover, black);
        --icon-status-color: var(--color-icon-status-filled-danger-hover);
        --background-color: var(--color-bg-filled-danger-hover, lightcoral);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-filled-danger-focus, black);
        --prefix-color: var(--color-prefix-filled-danger-focus, dodgerblue);
        --postfix-color: var(--color-postfix-filled-danger-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-filled-danger-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-filled-danger-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-filled-danger-focus);
        --background-color: var(--color-bg-filled-danger-focus, lightblue);
      }
    }
  }
}

.wrapper--variant-outlined {
  &.wrapper--size-s {
    --border-width: var(--border-width-s, 1px);
  }

  &.wrapper--size-m {
    --border-width: var(--border-width-m, 1px);
  }

  &.wrapper--size-l {
    --border-width: var(--border-width-l, 1px);
  }

  &.wrapper--status-default {
    --text-color: var(--color-text-outlined-default-default, black);
    --prefix-color: var(--color-prefix-outlined-default-default, gray);
    --postfix-color: var(--color-postfix-outlined-default-default, gray);
    --icon-left-color: var(--color-icon-left-outlined-default-default, gray);
    --icon-right-color: var(--color-icon-right-outlined-default-default, gray);
    --icon-status-color: var(--color-icon-status-outlined-default-default);
    --border-color: var(--color-border-outlined-default-default, lightgray);
    --background-color: var(--color-bg-outlined-default-default, white);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-outlined-default-hover, black);
        --prefix-color: var(--color-prefix-outlined-default-hover, black);
        --postfix-color: var(--color-postfix-outlined-default-hover, black);
        --icon-left-color: var(--color-icon-left-outlined-default-hover, black);
        --icon-right-color: var(--color-icon-right-outlined-default-hover, black);
        --icon-status-color: var(--color-icon-status-outlined-default-hover);
        --border-color: var(--color-border-outlined-default-hover, gray);
        --background-color: var(--color-bg-outlined-default-hover, white);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-outlined-default-focus, black);
        --prefix-color: var(--color-prefix-outlined-default-focus, dodgerblue);
        --postfix-color: var(--color-postfix-outlined-default-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-outlined-default-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-outlined-default-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-outlined-default-focus);
        --border-color: var(--color-border-outlined-default-focus, dodgerblue);
        --background-color: var(--color-bg-outlined-default-focus, white);
      }
    }
  }

  &.wrapper--status-success {
    --text-color: var(--color-text-outlined-success-default, black);
    --prefix-color: var(--color-prefix-outlined-success-default, gray);
    --postfix-color: var(--color-postfix-outlined-success-default, gray);
    --icon-left-color: var(--color-icon-left-outlined-success-default, gray);
    --icon-right-color: var(--color-icon-right-outlined-success-default, gray);
    --icon-status-color: var(--color-icon-status-outlined-success-default);
    --border-color: var(--color-border-outlined-success-default, green);
    --background-color: var(--color-bg-outlined-success-default, white);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-outlined-success-hover, black);
        --prefix-color: var(--color-prefix-outlined-success-hover, black);
        --postfix-color: var(--color-postfix-outlined-success-hover, black);
        --icon-left-color: var(--color-icon-left-outlined-success-hover, black);
        --icon-right-color: var(--color-icon-right-outlined-success-hover, black);
        --icon-status-color: var(--color-icon-status-outlined-success-hover);
        --border-color: var(--color-border-outlined-success-hover, green);
        --background-color: var(--color-bg-outlined-success-hover, white);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-outlined-success-focus, black);
        --prefix-color: var(--color-prefix-outlined-success-focus, dodgerblue);
        --postfix-color: var(--color-postfix-outlined-success-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-outlined-success-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-outlined-success-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-outlined-success-focus);
        --border-color: var(--color-border-outlined-success-focus, dodgerblue);
        --background-color: var(--color-bg-outlined-success-focus, white);
      }
    }
  }

  &.wrapper--status-warning {
    --text-color: var(--color-text-outlined-warning-default, black);
    --prefix-color: var(--color-prefix-outlined-warning-default, gray);
    --postfix-color: var(--color-postfix-outlined-warning-default, gray);
    --icon-left-color: var(--color-icon-left-outlined-warning-default, gray);
    --icon-right-color: var(--color-icon-right-outlined-warning-default, gray);
    --icon-status-color: var(--color-icon-status-outlined-warning-default);
    --border-color: var(--color-border-outlined-warning-default, orange);
    --background-color: var(--color-bg-outlined-warning-default, white);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-outlined-warning-hover, black);
        --prefix-color: var(--color-prefix-outlined-warning-hover, black);
        --postfix-color: var(--color-postfix-outlined-warning-hover, black);
        --icon-left-color: var(--color-icon-left-outlined-warning-hover, black);
        --icon-right-color: var(--color-icon-right-outlined-warning-hover, black);
        --icon-status-color: var(--color-icon-status-outlined-warning-hover);
        --border-color: var(--color-border-outlined-warning-hover, orange);
        --background-color: var(--color-bg-outlined-warning-hover, white);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-outlined-warning-focus, black);
        --prefix-color: var(--color-prefix-outlined-warning-focus, dodgerblue);
        --postfix-color: var(--color-postfix-outlined-warning-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-outlined-warning-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-outlined-warning-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-outlined-warning-focus);
        --border-color: var(--color-border-outlined-warning-focus, dodgerblue);
        --background-color: var(--color-bg-outlined-warning-focus, white);
      }
    }
  }

  &.wrapper--status-danger {
    --text-color: var(--color-text-outlined-danger-default, black);
    --prefix-color: var(--color-prefix-outlined-danger-default, gray);
    --postfix-color: var(--color-postfix-outlined-danger-default, gray);
    --icon-left-color: var(--color-icon-left-outlined-danger-default, gray);
    --icon-right-color: var(--color-icon-right-outlined-danger-default, gray);
    --icon-status-color: var(--color-icon-status-outlined-danger-default);
    --border-color: var(--color-border-outlined-danger-default, red);
    --background-color: var(--color-bg-outlined-danger-default, white);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-outlined-danger-hover, black);
        --prefix-color: var(--color-prefix-outlined-danger-hover, black);
        --postfix-color: var(--color-postfix-outlined-danger-hover, black);
        --icon-left-color: var(--color-icon-left-outlined-danger-hover, black);
        --icon-right-color: var(--color-icon-right-outlined-danger-hover, black);
        --icon-status-color: var(--color-icon-status-outlined-danger-hover);
        --border-color: var(--color-border-outlined-danger-hover, red);
        --background-color: var(--color-bg-outlined-danger-hover, white);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-outlined-danger-focus, black);
        --prefix-color: var(--color-prefix-outlined-danger-focus, dodgerblue);
        --postfix-color: var(--color-postfix-outlined-danger-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-outlined-danger-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-outlined-danger-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-outlined-danger-focus);
        --border-color: var(--color-border-outlined-danger-focus, dodgerblue);
        --background-color: var(--color-bg-outlined-danger-focus, white);
      }
    }
  }
}

.wrapper--variant-clear {
  --border-width: 0;

  &.wrapper--status-default {
    --text-color: var(--color-text-clear-default-default, black);
    --prefix-color: var(--color-prefix-clear-default-default, gray);
    --postfix-color: var(--color-postfix-clear-default-default, gray);
    --icon-left-color: var(--color-icon-left-clear-default-default, gray);
    --icon-right-color: var(--color-icon-right-clear-default-default, gray);
    --icon-status-color: var(--color-icon-status-clear-default-default);
    --background-color: var(--color-bg-clear-default-default, transparent);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-clear-default-hover, black);
        --prefix-color: var(--color-prefix-clear-default-hover, black);
        --postfix-color: var(--color-postfix-clear-default-hover, black);
        --icon-left-color: var(--color-icon-left-clear-default-hover, black);
        --icon-right-color: var(--color-icon-right-clear-default-hover, black);
        --icon-status-color: var(--color-icon-status-clear-default-hover);
        --background-color: var(--color-bg-clear-default-hover, transparent);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-clear-default-focus, black);
        --prefix-color: var(--color-prefix-clear-default-focus, dodgerblue);
        --postfix-color: var(--color-postfix-clear-default-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-clear-default-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-clear-default-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-clear-default-focus);
        --background-color: var(--color-bg-clear-default-focus, transparent);
      }
    }
  }

  &.wrapper--status-success {
    --text-color: var(--color-text-clear-success-default, black);
    --prefix-color: var(--color-prefix-clear-success-default, gray);
    --postfix-color: var(--color-postfix-clear-success-default, gray);
    --icon-left-color: var(--color-icon-left-clear-success-default, gray);
    --icon-right-color: var(--color-icon-right-clear-success-default, gray);
    --icon-status-color: var(--color-icon-status-clear-success-default);
    --background-color: var(--color-bg-clear-success-default, transparent);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-clear-success-hover, black);
        --prefix-color: var(--color-prefix-clear-success-hover, black);
        --postfix-color: var(--color-postfix-clear-success-hover, black);
        --icon-left-color: var(--color-icon-left-clear-success-hover, black);
        --icon-right-color: var(--color-icon-right-clear-success-hover, black);
        --icon-status-color: var(--color-icon-status-clear-success-hover);
        --background-color: var(--color-bg-clear-success-hover, transparent);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-clear-success-focus, black);
        --prefix-color: var(--color-prefix-clear-success-focus, dodgerblue);
        --postfix-color: var(--color-postfix-clear-success-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-clear-success-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-clear-success-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-clear-success-focus);
        --background-color: var(--color-bg-clear-success-focus, transparent);
      }
    }
  }

  &.wrapper--status-warning {
    --text-color: var(--color-text-clear-warning-default, black);
    --prefix-color: var(--color-prefix-clear-warning-default, gray);
    --postfix-color: var(--color-postfix-clear-warning-default, gray);
    --icon-left-color: var(--color-icon-left-clear-warning-default, gray);
    --icon-right-color: var(--color-icon-right-clear-warning-default, gray);
    --icon-status-color: var(--color-icon-status-clear-warning-default);
    --background-color: var(--color-bg-clear-warning-default, transparent);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-clear-warning-hover, black);
        --prefix-color: var(--color-prefix-clear-warning-hover, black);
        --postfix-color: var(--color-postfix-clear-warning-hover, black);
        --icon-left-color: var(--color-icon-left-clear-warning-hover, black);
        --icon-right-color: var(--color-icon-right-clear-warning-hover, black);
        --icon-status-color: var(--color-icon-status-clear-warning-hover);
        --background-color: var(--color-bg-clear-warning-hover, transparent);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-clear-warning-focus, black);
        --prefix-color: var(--color-prefix-clear-warning-focus, dodgerblue);
        --postfix-color: var(--color-postfix-clear-warning-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-clear-warning-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-clear-warning-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-clear-warning-focus);
        --background-color: var(--color-bg-clear-warning-focus, transparent);
      }
    }
  }

  &.wrapper--status-danger {
    --text-color: var(--color-text-clear-danger-default, black);
    --prefix-color: var(--color-prefix-clear-danger-default, gray);
    --postfix-color: var(--color-postfix-clear-danger-default, gray);
    --icon-left-color: var(--color-icon-left-clear-danger-default, gray);
    --icon-right-color: var(--color-icon-right-clear-danger-default, gray);
    --icon-status-color: var(--color-icon-status-clear-danger-default);
    --background-color: var(--color-bg-clear-danger-default, transparent);

    &:not(:has(.field:disabled)) {
      &:hover {
        --text-color: var(--color-text-clear-danger-hover, black);
        --prefix-color: var(--color-prefix-clear-danger-hover, black);
        --postfix-color: var(--color-postfix-clear-danger-hover, black);
        --icon-left-color: var(--color-icon-left-clear-danger-hover, black);
        --icon-right-color: var(--color-icon-right-clear-danger-hover, black);
        --icon-status-color: var(--color-icon-status-clear-danger-hover);
        --background-color: var(--color-bg-clear-danger-hover, transparent);
      }

      &:has(.field:focus) {
        --text-color: var(--color-text-clear-danger-focus, black);
        --prefix-color: var(--color-prefix-clear-danger-focus, dodgerblue);
        --postfix-color: var(--color-postfix-clear-danger-focus, dodgerblue);
        --icon-left-color: var(--color-icon-left-clear-danger-focus, dodgerblue);
        --icon-right-color: var(--color-icon-right-clear-danger-focus, dodgerblue);
        --icon-status-color: var(--color-icon-status-clear-danger-focus);
        --background-color: var(--color-bg-clear-danger-focus, transparent);
      }
    }
  }
}

.wrapper--shape {
  &-default {
    &.wrapper--size-s {
      --border-radius: var(--border-radius-s);
    }

    &.wrapper--size-m {
      --border-radius: var(--border-radius-m);
    }

    &.wrapper--size-l {
      --border-radius: var(--border-radius-l);
    }
  }

  &-round {
    --border-radius: calc(var(--height) / 2);
  }

  &-brick {
    --border-radius: 0;
  }
}

.wrapper--size {
  &-s {
    --height: var(--height-s, 32px);
    --horizontal-padding: var(--horizontal-padding-s, 16px);
    --vertical-padding: var(--vertical-padding-s, 0);

    --font-size: var(--font-size-s, 14px);
    --line-height: var(--line-height-s, 18px);
    --font-weight: var(--font-weight-s, 400);
  }

  &-m {
    --height: var(--height-m, 32px);
    --horizontal-padding: var(--horizontal-padding-m, 16px);
    --vertical-padding: var(--vertical-padding-m, 0);

    --font-size: var(--font-size-m, 14px);
    --line-height: var(--line-height-m, 18px);
    --font-weight: var(--font-weight-m, 400);
  }

  &-l {
    --height: var(--height-l, 32px);
    --horizontal-padding: var(--horizontal-padding-l, 16px);
    --vertical-padding: var(--vertical-padding-l, 0);

    --font-size: var(--font-size-l, 14px);
    --line-height: var(--line-height-l, 18px);
    --font-weight: var(--font-weight-l, 400);
  }
}

.field {
  flex-grow: 1;
  width: 100%;
  min-width: min-content;
  height: 100%;
  padding: 0 calc(var(--horizontal-padding, 16px) / 4);
  border: none;
  margin: 0;
  box-sizing: border-box;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: inherit;
  text-overflow: ellipsis;

  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:first-child {
    padding-left: calc(var(--horizontal-padding, 16px) / 2);
  }

  &:last-child {
    padding-right: calc(var(--horizontal-padding, 16px) / 2);
  }

  &:focus {
    cursor: text;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.prefix,
.postfix {
  flex-grow: 1;
  width: 100%;
  max-width: max-content;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.prefix {
  max-height: 100%;
  overflow: hidden;

  font-family: var(--prefix-font-family, inherit);
  font-size: var(--prefix-font-size, inherit);
  font-weight: var(--prefix-font-weight, inherit);
  line-height: var(--prefix-line-height, inherit);
  color: var(--prefix-color, gray);

  transition: color 200ms;

  &--size {
    &-s {
      --prefix-font-size: var(--prefix-font-size-s, inherit);
      --prefix-line-height: var(--prefix-line-height-s, inherit);
      --prefix-font-weight: var(--prefix-font-weight-s, inherit);
    }

    &-m {
      --prefix-font-size: var(--prefix-font-size-m, inherit);
      --prefix-line-height: var(--prefix-line-height-m, inherit);
      --prefix-font-weight: var(--prefix-font-weight-m, inherit);
    }

    &-l {
      --prefix-font-size: var(--prefix-font-size-l, inherit);
      --prefix-line-height: var(--prefix-line-height-l, inherit);
      --prefix-font-weight: var(--prefix-font-weight-l, inherit);
    }
  }
}

.postfix {
  max-height: 100%;
  overflow: hidden;

  font-family: var(--postfix-font-family, inherit);
  font-size: var(--postfix-font-size, inherit);
  font-weight: var(--postfix-font-weight, inherit);
  line-height: var(--postfix-line-height, inherit);
  color: var(--postfix-color, gray);

  transition: color 200ms;

  &--size {
    &-s {
      --postfix-font-size: var(--postfix-font-size-s, inherit);
      --postfix-line-height: var(--postfix-line-height-s, inherit);
      --postfix-font-weight: var(--postfix-font-weight-s, inherit);
    }

    &-m {
      --postfix-font-size: var(--postfix-font-size-m, inherit);
      --postfix-line-height: var(--postfix-line-height-m, inherit);
      --postfix-font-weight: var(--postfix-font-weight-m, inherit);
    }

    &-l {
      --postfix-font-size: var(--postfix-font-size-l, inherit);
      --postfix-line-height: var(--postfix-line-height-l, inherit);
      --postfix-font-weight: var(--postfix-font-weight-l, inherit);
    }
  }
}

.icon-left {
  width: auto;
  height: var(--icon-left-height, 16px);

  color: var(--icon-left-color, gray);

  transition: color 200ms;

  &--size {
    &-s {
      --icon-left-height: var(--icon-left-height-s, 16px);
    }

    &-m {
      --icon-left-height: var(--icon-left-height-m, 16px);
    }

    &-l {
      --icon-left-height: var(--icon-left-height-l, 16px);
    }
  }
}

.icon-right {
  width: auto;
  height: var(--icon-right-height, 16px);

  color: var(--icon-right-color, gray);

  transition: color 200ms;

  &--size {
    &-s {
      --icon-right-height: var(--icon-right-height-s, 16px);
    }

    &-m {
      --icon-right-height: var(--icon-right-height-m, 16px);
    }

    &-l {
      --icon-right-height: var(--icon-right-height-l, 16px);
    }
  }
}

.icon-status {
  height: var(--icon-status-height, var(--height));

  color: var(--icon-status-color, var(--color));

  transition: color 200ms;

  &--size {
    &-s {
      --icon-status-height: var(--icon-status-height-s);
    }

    &-m {
      --icon-status-height: var(--icon-status-height-m);
    }

    &-l {
      --icon-status-height: var(--icon-status-height-l);
    }
  }
}

.icon-left,
.icon-right,
.icon-status,
.hint {
  flex-shrink: 0;
}
