@use 'styles/colors';
@use 'styles/constants';
@use 'styles/mixins';
@use 'styles/text';

.button {
  @include mixins.reset-button();
  width: max-content;

  transition: 200ms;

  &:disabled {
    cursor: default;
  }

  &--s {
    @include text.text-s;

    height: 24px;
    padding: 0 12px;

    border-radius: constants.$radius-s;
  }

  &--m {
    @include text.text-m;

    height: 32px;
    padding: 0 16px;

    border-radius: constants.$radius-m;
  }

  &--l {
    @include text.text-l;

    height: 40px;
    padding: 0 24px;

    border-radius: constants.$radius-l;
  }

  &--xl {
    @include text.text-xxl;

    height: 52px;
    padding: 0 28px;

    border-radius: constants.$radius-xl;
  }

  &--xxl {
    @include text.text-3xl;

    height: 64px;
    padding: 0 32px;

    border-radius: constants.$radius-xxl;
  }
}

.button--fill {
  color: var(--color-white);

  &.button--blue {
    background-color: var(--color-azure);

    &:hover {
      background-color: rgb(0, 118, 236);
    }

    &:active {
      background-color: rgb(0, 112, 225);
    }

    &:disabled {
      color: colors.$white50;
      background-color: colors.$blue50;
    }
  }

  &.button--white {
    color: colors.$darkest-blue;
    background-color: var(--color-white);

    &:hover {
      background-color: colors.$lighter-gray;
    }

    &:active {
      background-color: colors.$light-gray;
    }

    &:disabled {
      color: colors.$black25;
      background-color: colors.$lighter-gray;
    }

    &.button--light-mode {
      color: var(--color-white);
      background-color: colors.$black;

      &:hover {
        background-color: colors.$darker-gray;
      }

      &:active {
        background-color: colors.$gray;
      }

      &:disabled {
        color: colors.$white20;
        background-color: colors.$gray;
      }
    }
  }

  &.button--black {
    color: var(--color-white);
    background-color: colors.$black;

    &:hover {
      background-color: colors.$darker-gray;
    }

    &:active {
      background-color: colors.$gray;
    }

    &:disabled {
      color: colors.$white20;
      background-color: colors.$gray;
    }

    &.button--dark-mode {
      color: colors.$darkest-blue;
      background-color: var(--color-white);

      &:hover {
        background-color: colors.$lighter-gray;
      }

      &:active {
        background-color: colors.$light-gray;
      }

      &:disabled {
        color: colors.$black25;
        background-color: colors.$lighter-gray;
      }
    }
  }

  &.button--red {
    background-color: var(--color-red);

    &:hover {
      background-color: colors.$dark-red;
    }

    &:active {
      background-color: colors.$darker-red;
    }

    &:disabled {
      color: colors.$white50;
      background-color: colors.$red50;
    }
  }

  &.button--green {
    background-color: var(--color-green);

    &:hover {
      background-color: colors.$dark-green;
    }

    &:active {
      background-color: colors.$darker-green;
    }

    &:disabled {
      color: colors.$white50;
      background-color: colors.$green50;
    }
  }
}

.button--outline {
  border-width: 1px;
  border-style: solid;

  &.button--blue {
    color: var(--color-azure);

    border-color: var(--color-azure);

    &:hover {
      background-color: colors.$blue10;
    }

    &:active {
      background-color: colors.$blue25;
    }

    &:disabled {
      color: colors.$white50;
      background-color: colors.$blue25;
      border-color: colors.$blue25;
    }
  }

  &.button--red {
    border-color: var(--color-red);

    color: var(--color-red);

    &:hover {
      background-color: colors.$red10;
    }

    &:active {
      background-color: colors.$red25;
    }

    &:disabled {
      color: colors.$white50;
      background-color: colors.$red25;
      border-color: colors.$red25;
    }
  }

  &.button--green {
    border-color: var(--color-green);

    color: var(--color-green);

    &:hover {
      background-color: colors.$green10;
    }

    &:active {
      background-color: colors.$green25;
    }

    &:disabled {
      color: colors.$white50;
      background-color: colors.$green25;
      border-color: colors.$green25;
    }
  }

  &.button--white {
    color: var(--color-white);
    border-color: var(--color-white);

    &:hover {
      background-color: colors.$white20;
    }

    &:active {
      background-color: colors.$white25;
    }

    &:disabled {
      color: colors.$white50;
      background-color: colors.$white25;
      border-color: colors.$white25;
    }

    &.button--light-mode {
      color: colors.$black;
      border-color: colors.$black;

      &:hover {
        background-color: colors.$black5;
      }

      &:active {
        background-color: colors.$black10;
      }

      &:disabled {
        color: colors.$black50;
        background-color: colors.$black10;
        border-color: colors.$black25;
      }
    }
  }

  &.button--black {
    color: colors.$black;
    border-color: colors.$black;

    &:hover {
      background-color: colors.$black5;
    }

    &:active {
      background-color: colors.$black10;
    }

    &:disabled {
      color: colors.$black50;
      background-color: colors.$black10;
      border-color: colors.$black25;
    }

    &.button--dark-mode {
      color: var(--color-white);
      border-color: var(--color-white);

      &:hover {
        background-color: colors.$white20;
      }

      &:active {
        background-color: colors.$white25;
      }

      &:disabled {
        color: colors.$white50;
        background-color: colors.$white25;
        border-color: colors.$white25;
      }
    }
  }
}

.button--text {
  height: auto;
  padding: 0;

  &.button--blue {
    color: var(--color-azure);

    &:disabled {
      color: colors.$blue50;
    }
  }

  &.button--white {
    color: var(--color-white);

    &:disabled {
      color: colors.$light-gray;
    }

    &.button--light-mode {
      color: colors.$black;

      &:disabled {
        color: colors.$light-gray;
      }
    }
  }

  &.button--black {
    color: colors.$black;

    &:disabled {
      color: colors.$light-gray;
    }

    &.button--dark-mode {
      color: var(--color-white);

      &:disabled {
        color: colors.$light-gray;
      }
    }
  }

  &.button--red {
    color: var(--color-red);

    &:disabled {
      color: colors.$red50;
    }
  }

  &.button--green {
    color: var(--color-green);

    &:disabled {
      color: colors.$green50;
    }
  }
}
