@import 'styles/colors.scss';
@import 'styles/constants.scss';
@import 'styles/mixins.scss';
@import 'styles/text.scss';

.button {
  @include reset-button();
  width: max-content;

  transition: 200ms;

  &:disabled {
    cursor: default;
  }

  &--small {
    @include small-text;

    height: 24px;
    padding: 0 12px;

    border-radius: $radius-small;
  }

  &--medium {
    @include medium-text;

    height: 32px;
    padding: 0 16px;

    border-radius: $radius-default;
  }

  &--large {
    @include large-text;

    height: 40px;
    padding: 0 24px;

    border-radius: $radius-large;
  }
}

.button--fill {
  color: $white;

  &.button--blue {
    background-color: $blue;

    &:hover {
      background-color: $dark-blue;
    }

    &:active {
      background-color: $darker-blue;
    }

    &:disabled {
      color: $white50;
      background-color: $blue50;
    }
  }

  &.button--white {
    color: $darkest-blue;
    background-color: $white;

    &:hover {
      background-color: $lighter-gray;
    }

    &:active {
      background-color: $light-gray;
    }

    &:disabled {
      color: $black25;
      background-color: $lighter-gray;
    }

    &.button--light-mode {
      color: $white;
      background-color: $black;

      &:hover {
        background-color: $darker-gray;
      }

      &:active {
        background-color: $gray;
      }

      &:disabled {
        color: $white20;
        background-color: $gray;
      }
    }
  }

  &.button--black {
    color: $white;
    background-color: $black;

    &:hover {
      background-color: $darker-gray;
    }

    &:active {
      background-color: $gray;
    }

    &:disabled {
      color: $white20;
      background-color: $gray;
    }

    &.button--dark-mode {
      color: $darkest-blue;
      background-color: $white;

      &:hover {
        background-color: $lighter-gray;
      }

      &:active {
        background-color: $light-gray;
      }

      &:disabled {
        color: $black25;
        background-color: $lighter-gray;
      }
    }
  }

  &.button--red {
    background-color: $red;

    &:hover {
      background-color: $dark-red;
    }

    &:active {
      background-color: $darker-red;
    }

    &:disabled {
      color: $white50;
      background-color: $red50;
    }
  }

  &.button--green {
    background-color: $green;

    &:hover {
      background-color: $dark-green;
    }

    &:active {
      background-color: $darker-green;
    }

    &:disabled {
      color: $white50;
      background-color: $green50;
    }
  }
}

.button--outline {
  border-width: 1px;
  border-style: solid;

  &.button--blue {
    color: $blue;

    border-color: $blue;

    &:hover {
      background-color: $blue10;
    }

    &:active {
      background-color: $blue25;
    }

    &:disabled {
      color: $white50;
      background-color: $blue25;
      border-color: $blue25;
    }
  }

  &.button--red {
    border-color: $red;

    color: $red;

    &:hover {
      background-color: $red10;
    }

    &:active {
      background-color: $red25;
    }

    &:disabled {
      color: $white50;
      background-color: $red25;
      border-color: $red25;
    }
  }

  &.button--green {
    border-color: $green;

    color: $green;

    &:hover {
      background-color: $green10;
    }

    &:active {
      background-color: $green25;
    }

    &:disabled {
      color: $white50;
      background-color: $green25;
      border-color: $green25;
    }
  }

  &.button--white {
    color: $white;
    border-color: $white;

    &:hover {
      background-color: $white20;
    }

    &:active {
      background-color: $white25;
    }

    &:disabled {
      color: $white50;
      background-color: $white25;
      border-color: $white25;
    }

    &.button--light-mode {
      color: $black;
      border-color: $black;

      &:hover {
        background-color: $black5;
      }

      &:active {
        background-color: $black10;
      }

      &:disabled {
        color: $black50;
        background-color: $black10;
        border-color: $black25;
      }
    }
  }

  &.button--black {
    color: $black;
    border-color: $black;

    &:hover {
      background-color: $black5;
    }

    &:active {
      background-color: $black10;
    }

    &:disabled {
      color: $black50;
      background-color: $black10;
      border-color: $black25;
    }

    &.button--dark-mode {
      color: $white;
      border-color: $white;

      &:hover {
        background-color: $white20;
      }

      &:active {
        background-color: $white25;
      }

      &:disabled {
        color: $white50;
        background-color: $white25;
        border-color: $white25;
      }
    }
  }
}

.button--text {
  height: auto;
  padding: 0;

  &.button--blue {
    color: $blue;

    &:disabled {
      color: $blue50;
    }
  }

  &.button--white {
    color: $white;

    &:disabled {
      color: $light-gray;
    }

    &.button--light-mode {
      color: $black;

      &:disabled {
        color: $light-gray;
      }
    }
  }

  &.button--black {
    color: $black;

    &:disabled {
      color: $light-gray;
    }

    &.button--dark-mode {
      color: $white;

      &:disabled {
        color: $light-gray;
      }
    }
  }

  &.button--red {
    color: $red;

    &:disabled {
      color: $red50;
    }
  }

  &.button--green {
    color: $green;

    &:disabled {
      color: $green50;
    }
  }
}
