@use 'styles/colors';
@use 'styles/constants';

.paper {
  &--color {
    &-white {
      color: colors.$black;
      background-color: colors.$white;

      .paper--dark-mode {
        color: colors.$white;
        background-color: colors.$black;
      }
    }

    &-lightgray {
      color: colors.$black;
      background-color: colors.$lightest-gray;

      .paper--dark-mode {
        color: colors.$white;
        background-color: colors.$darkest-gray;
      }
    }

    &-darkgray {
      color: colors.$white;
      background-color: colors.$darkest-gray;

      &.paper--light-mode {
        color: colors.$black;
        background-color: colors.$lightest-gray;
      }
    }

    &-black {
      color: colors.$white;
      background-color: colors.$black;

      &.tooltip--light-mode {
        color: colors.$black;
        background-color: colors.$white;
      }
    }
  }

  &--size {
    &-xs {
      padding: 2px 4px;
      border-radius: constants.$radius-xs;
    }

    &-s {
      padding: 4px 8px;
      border-radius: constants.$radius-s;
    }

    &-m {
      padding: 8px 12px;
      border-radius: constants.$radius-m;
    }

    &-l {
      padding: 10px 16px;
      border-radius: constants.$radius-l;
    }

    &-xl {
      padding: 16px 24px;
      border-radius: constants.$radius-xl;
    }
  }

  &--elevation {
    &-1 {
      box-shadow: 0 0 2px 0px colors.$black25;
    }

    &-2 {
      box-shadow: 0 0 3px 1px colors.$black25;
    }

    &-3 {
      box-shadow: 0 0 4px 1px colors.$black25;
    }

    &-5 {
      box-shadow: 0 0 4px 2px colors.$black25;
    }

    &-8 {
      box-shadow: 0 0 6px 2px colors.$black25;
    }

    &-13 {
      box-shadow: 0 0 10px 4px colors.$black25;
    }

    &-21 {
      box-shadow: 0 0 16px 8px colors.$black25;
    }
  }
}
