@import 'styles/colors';

.hr {
  border: none;

  &--light {
    border-bottom: 1px solid $white25;

    &.hr--light-mode {
      border-bottom: 1px solid $black25;
    }
  }

  &--dark {
    border-bottom: 1px solid $black25;

    &.hr--dark-mode {
      border-bottom: 1px solid $white25;
    }
  }
}
