@use 'colors';

@mixin reset-button {
  padding: 0;
  margin: 0;
  border: none;

  font: inherit;
  color: inherit;

  background-color: transparent;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
}

@mixin useScrollbar($width: 5px) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: colors.$black25;
    border-radius: $width;
  }

  scrollbar-color: colors.$black25 transparent;
  scrollbar-width: thin;
}

@mixin useDarkScrollBar {
  &::-webkit-scrollbar-thumb {
    background: colors.$lightest-gray;
  }

  scrollbar-color: colors.$lightest-gray transparent;
}
