* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Visby Round CF', 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

input {
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
