@mixin text-xs {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}

@mixin text-s {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

@mixin text-m {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

@mixin text-l {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@mixin text-xl {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

@mixin text-xxl {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

@mixin text-3xl {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

@mixin heading-h1 {
  font-size: 48px;
  line-height: 56px;
}

@mixin heading-h2 {
  font-size: 40px;
  line-height: 48px;
}

@mixin heading-h3 {
  font-size: 32px;
  line-height: 40px;
}

@mixin heading-h4 {
  font-size: 24px;
  line-height: 32px;
}

@mixin heading-h5 {
  font-size: 20px;
  line-height: 24px;
}

@mixin heading-h6 {
  font-size: 16px;
  line-height: 20px;
}
