@use 'styles/colors';
@use 'styles/constants';
@use 'styles/mixins';
@use 'styles/text';

.select {
  position: relative;

  &--s {
    width: 140px;
    height: 24px;
  }

  &--m {
    width: 180px;
    height: 32px;
  }

  &--l {
    width: 220px;
    height: 40px;
  }
}

.output {
  display: block;
  width: 100%;
  height: 100%;
  border: none;

  cursor: pointer;

  transition: border-radius 50ms;
  transition-delay: 250ms;

  &:disabled {
    cursor: default;
  }

  &--s {
    @include text.text-s;

    padding: 0 24px 0 12px;

    border-radius: constants.$radius-s;

    &.output--with-icon {
      padding-left: 24px;
    }
  }

  &--m {
    @include text.text-m;

    padding: 0 32px 0 16px;

    border-radius: constants.$radius-m;

    &.output--with-icon {
      padding-left: 28px;
    }
  }

  &--l {
    @include text.text-l;

    padding: 0 40px 0 20px;

    border-radius: constants.$radius-l;

    &.output--with-icon {
      padding-left: 40px;
    }
  }

  &--light {
    color: colors.$darkest-blue;
    background-color: colors.$lighter-gray;

    &::placeholder {
      color: colors.$black50;
    }

    &:disabled {
      color: colors.$black50;

      &::placeholder {
        color: colors.$black25;
      }
    }

    &.output--dark-mode {
      color: colors.$white;
      background-color: colors.$darker-gray;

      &::placeholder {
        color: colors.$white50;
      }

      &:disabled {
        color: colors.$white50;

        &::placeholder {
          color: colors.$white25;
        }
      }
    }
  }

  &--dark {
    color: colors.$white;
    background-color: colors.$darker-gray;

    &::placeholder {
      color: colors.$white50;
    }

    &:disabled {
      color: colors.$white50;

      &::placeholder {
        color: colors.$white25;
      }
    }

    &.output--light-mode {
      color: colors.$darkest-blue;
      background-color: colors.$lighter-gray;

      &::placeholder {
        color: colors.$black50;
      }

      &:disabled {
        color: colors.$black50;

        &::placeholder {
          color: colors.$black25;
        }
      }
    }
  }

  &--expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    transition-delay: unset;
  }
}

.icon {
  position: absolute;

  &--s {
    bottom: 6px;
    left: 6px;

    width: 12px;
    height: 12px;
  }

  &--m {
    bottom: 8px;
    left: 8px;

    width: 16px;
    height: 16px;
  }

  &--l {
    bottom: 11px;
    left: 12px;

    width: 18px;
    height: 18px;
  }

  &--light {
    & path {
      fill: colors.$darkest-blue;
    }

    &.icon--dark-mode {
      & path {
        fill: colors.$white;
      }
    }
  }

  &--dark {
    & path {
      fill: colors.$white;
    }

    &.icon--light-mode {
      & path {
        fill: colors.$darkest-blue;
      }
    }
  }
}

.arrow {
  position: absolute;

  height: auto;

  transition: 200ms;

  &--s {
    top: 10px;
    right: 8px;

    width: 10px;
  }

  &--m {
    top: 12px;
    right: 10px;

    width: 14px;
  }

  &--l {
    top: 16px;
    right: 14px;

    width: 16px;
  }

  &--light {
    path {
      stroke: colors.$darkest-blue;
    }

    &.arrow--dark-mode {
      path {
        stroke: colors.$white;
      }
    }
  }

  &--dark {
    path {
      stroke: colors.$white;
    }

    &.arrow--light-mode {
      path {
        stroke: colors.$darkest-blue;
      }
    }
  }

  &--expanded {
    transform: rotate(180deg);
  }
}

.dropdown {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  max-height: 0;
  overflow-y: auto;

  transition: 250ms;

  @include mixins.useScrollbar;

  &--s {
    border-bottom-left-radius: constants.$radius-s;
    border-bottom-right-radius: constants.$radius-s;

    &.dropdown--expanded {
      max-height: 200px;
    }
  }

  &--m {
    border-bottom-left-radius: constants.$radius-m;
    border-bottom-right-radius: constants.$radius-m;

    &.dropdown--expanded {
      max-height: 250px;
    }
  }

  &--l {
    border-bottom-left-radius: constants.$radius-l;
    border-bottom-right-radius: constants.$radius-l;

    &.dropdown--expanded {
      max-height: 300px;
    }
  }

  &--light {
    background-color: colors.$lighter-gray;

    &.dropdown--dark-mode {
      background-color: colors.$darker-gray;
    }
  }

  &--dark {
    background-color: colors.$darker-gray;

    &.dropdown--light-mode {
      background-color: colors.$lighter-gray;
    }
  }
}

.option {
  cursor: pointer;

  &--s {
    padding: 4px 12px;

    @include text.text-s;
  }

  &--m {
    padding: 7px 16px;

    @include text.text-m;
  }

  &--l {
    padding: 10px 24px;

    @include text.text-l;
  }

  &--light {
    color: colors.$darkest-blue;

    &:hover {
      background-color: colors.$light-gray;
    }

    &.option--dark-mode {
      color: colors.$white;

      &:hover {
        background-color: colors.$dark-gray;
      }
    }
  }

  &--dark {
    color: colors.$white;

    &:hover {
      background-color: colors.$dark-gray;
    }

    &.option--light-mode {
      color: colors.$darkest-blue;

      &:hover {
        background-color: colors.$light-gray;
      }
    }
  }
}
