.icon {
  color: var(--color, black);
  height: var(--height, 16px);
  width: auto;

  &--clickable {
    cursor: pointer;
  }
}

.icon--status {
  &-info {
    --color: var(--color-info, black);
  }

  &-success {
    --color: var(--color-success, green);
  }

  &-warning {
    --color: var(--color-warning, orange);
  }

  &-error {
    --color: var(--color-error, red);
  }
}

.icon--size {
  &-xs {
    --height: var(--height-xs, 12px);
  }

  &-s {
    --height: var(--height-s, 14px);
  }

  &-m {
    --height: var(--height-m, 16px);
  }

  &-l {
    --height: var(--height-l, 18px);
  }
}
