@use 'styles/colors';
@use 'styles/constants';
@use 'styles/mixins';

.sandwich {
  @include mixins.reset-button;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44px;
  height: 32px;
  padding: 11px 14px 10px;

  border-radius: constants.$radius-large;
  cursor: pointer;

  &--blue {
    background-color: colors.$blue;
  }

  &--white {
    background-color: colors.$white;

    &.sandwich--light-mode {
      background-color: colors.$black;
    }
  }

  &--black {
    background-color: colors.$black;

    &.sandwich--dark-mode {
      background-color: colors.$white;
    }
  }
}

.line {
  width: 16px;
  height: 1px;

  border-radius: 1px;

  &--center {
    width: 12px;
  }

  &--blue {
    background-color: colors.$white;
  }

  &--white {
    background-color: colors.$black;

    &.line--light-mode {
      background-color: colors.$white;
    }
  }

  &--black {
    background-color: colors.$white;

    &.line--dark-mode {
      background-color: colors.$black;
    }
  }
}
