@use 'styles/colors';
@use 'styles/mixins';

.overlay {
  position: fixed;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(5px);

  &--white {
    background-color: colors.$black10;

    &.overlay--dark-mode {
      background-color: colors.$white10;
    }
  }

  &--black {
    background-color: colors.$white10;

    &.overlay--light-mode {
      background-color: colors.$black10;
    }
  }
}

.modal {
  position: relative;

  width: max-content;
  height: max-content;
  border: 1px solid;

  &--small {
    padding: 24px 16px 16px;

    border-radius: 10px;
  }

  &--medium {
    padding: 24px;

    border-radius: 10px;
  }

  &--large {
    padding: 32px;

    border-radius: 15px;
  }

  &--white {
    border-color: colors.$black25;
    background-color: colors.$white;

    &.modal--dark-mode {
      border-color: colors.$white20;
      background-color: colors.$black;
    }
  }

  &--black {
    border-color: colors.$white20;
    background-color: colors.$black;

    &.modal--light-mode {
      border-color: colors.$black25;
      background-color: colors.$white;
    }
  }
}

.close {
  @include mixins.reset-button;

  position: absolute;

  &--small {
    top: 12px;
    right: 12px;

    width: 12px;
    height: 12px;
  }

  &--medium {
    top: 12px;
    right: 12px;

    width: 16px;
    height: 16px;
  }

  &--large {
    top: 16px;
    right: 16px;

    width: 16px;
    height: 16px;
  }

  &--white {
    path {
      fill: colors.$black;
    }

    &.close--dark-mode {
      path {
        fill: colors.$white;
      }
    }
  }

  &--black {
    path {
      fill: colors.$white;
    }

    &.close--light-mode {
      path {
        fill: colors.$black;
      }
    }
  }

  & > svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
