.tooltip {
  position: fixed;
  top: 0;
  left: 0;

  width: auto;
  min-width: var(--min-width, 24px);
  max-width: var(--max-width, 100vw);
  padding: var(--vertical-padding, 8px) var(--horizontal-padding, 12px);
  border-width: var(--border-width, 0);
  border-style: var(--border-style, solid);
  border-color: var(--border-color, transparent);
  border-radius: var(--border-radius, 8px);
  margin: 0;
  box-sizing: border-box;

  font-family: var(--font-family, inherit);
  font-size: var(--font-size, 14px);
  font-weight: var(--font-weight, 400);
  line-height: var(--line-height, 18px);
  color: var(--text-color, black);

  background-color: var(--background-color, lightgray);
  box-shadow: var(--box-shadow, 0 2px 8px rgba(0, 0, 0, 0.15));
}

.tooltip--variant-filled {
  &.tooltip--color-primary {
    --background-color: var(--color-bg-filled-primary);
    --text-color: var(--color-text-filled-primary);
  }

  &.tooltip--color-secondary {
    --background-color: var(--color-bg-filled-secondary);
    --text-color: var(--color-text-filled-secondary);
  }

  &.tooltip--color-contrast {
    --background-color: var(--color-bg-filled-contrast);
    --text-color: var(--color-text-filled-contrast);
  }

  &.tooltip--color-success {
    --background-color: var(--color-bg-filled-success);
    --text-color: var(--color-text-filled-success);
  }

  &.tooltip--color-warning {
    --background-color: var(--color-bg-filled-warning);
    --text-color: var(--color-text-filled-warning);
  }

  &.tooltip--color-danger {
    --background-color: var(--color-bg-filled-danger);
    --text-color: var(--color-text-filled-danger);
  }
}

.tooltip--shape {
  &-default {
    &.tooltip--size-s {
      --border-radius: var(--border-radius-s);
    }

    &.tooltip--size-m {
      --border-radius: var(--border-radius-m);
    }

    &.tooltip--size-l {
      --border-radius: var(--border-radius-l);
    }
  }

  &-brick {
    --border-radius: 0;
  }
}

.tooltip--size {
  &-s {
    --offset: var(--offset-s);
    --min-width: var(--min-width-s);
    --max-width: var(--max-width-s);
    --horizontal-padding: var(--horizontal-padding-s);
    --vertical-padding: var(--vertical-padding-s);

    --font-size: var(--font-size-s);
    --line-height: var(--line-height-s);
    --font-weight: var(--font-weight-s);
  }

  &-m {
    --offset: var(--offset-m);
    --min-width: var(--min-width-m);
    --max-width: var(--max-width-m);
    --horizontal-padding: var(--horizontal-padding-m);
    --vertical-padding: var(--vertical-padding-m);

    --font-size: var(--font-size-m);
    --line-height: var(--line-height-m);
    --font-weight: var(--font-weight-m);
  }

  &-l {
    --offset: var(--offset-l);
    --min-width: var(--min-width-l);
    --max-width: var(--max-width-l);
    --horizontal-padding: var(--horizontal-padding-l);
    --vertical-padding: var(--vertical-padding-l);

    --font-size: var(--font-size-l);
    --line-height: var(--line-height-l);
    --font-weight: var(--font-weight-l);
  }
}
