@use 'styles/colors';
@use 'styles/constants';
@use 'styles/text';

.toggle {
  display: flex;
  width: max-content;
  height: max-content;

  transition: 200ms;

  &--small {
    height: 24px;
    width: fit-content;
    padding: 3px;
    border-radius: constants.$radius-s;
  }

  &--medium {
    height: 32px;
    width: fit-content;
    padding: 3px;
    border-radius: constants.$radius-m;
  }

  &--large {
    height: 40px;
    width: fit-content;
    padding: 4px;
    border-radius: constants.$radius-l;
  }

  &--blue {
    background-color: colors.$blue;
  }

  &--light {
    background-color: colors.$lighter-gray;

    &.toggle--dark-mode {
      background-color: colors.$darker-gray;
    }
  }

  &--dark {
    background-color: colors.$darker-gray;

    &.toggle--light-mode {
      background-color: colors.$lighter-gray;
    }
  }
}

.button {
  text-align: center;

  cursor: pointer;

  transition: 200ms;

  &--small {
    min-width: 18px;
    max-height: 18px;
    padding: 2px;
    border-radius: constants.$radius-xs;

    @include text.text-xs;

    &:not(:last-child) {
      margin-right: 3px;
    }
  }

  &--medium {
    min-width: 26px;
    max-height: 26px;
    padding: 4px;
    border-radius: constants.$radius-s;

    @include text.text-s;
    line-height: 18px;

    &:not(:last-child) {
      margin-right: 3px;
    }
  }

  &--large {
    min-width: 32px;
    max-height: 32px;
    padding: 6px;
    border-radius: constants.$radius-m;

    @include text.text-m;
    line-height: 20px;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &--blue {
    color: colors.$white;

    &.button--active {
      color: colors.$blue;
      background-color: colors.$white;
    }
  }

  &--light {
    color: colors.$darkest-blue;

    &.button--active {
      color: colors.$white;
      background-color: colors.$blue;
    }

    &.button--dark-mode {
      color: colors.$white;
    }
  }

  &--dark {
    color: colors.$white;

    &.button--active {
      background-color: colors.$blue;
    }

    &.button--light-mode {
      color: colors.$darkest-blue;

      &.button--active {
        color: colors.$white;
      }
    }
  }
}

.icon {
  width: 100%;
  height: 100%;

  transition: 200ms;

  &--small {
    max-width: 14px;
    max-height: 14px;
  }

  &--medium {
    max-width: 18px;
    max-height: 18px;
  }

  &--large {
    max-width: 20px;
    max-height: 20px;
  }

  &--blue {
    path {
      fill: colors.$white;
    }

    &.icon--active {
      path {
        fill: colors.$blue;
      }
    }
  }

  &--light {
    path {
      fill: colors.$darkest-blue;
    }

    &.icon--active {
      path {
        fill: colors.$white;
      }
    }

    &.icon--dark-mode {
      path {
        fill: colors.$white;
      }
    }
  }

  &--dark {
    path {
      fill: colors.$white;
    }

    &.icon--light-mode {
      path {
        fill: colors.$darkest-blue;
      }

      &.icon--active {
        path {
          fill: colors.$white;
        }
      }
    }
  }
}
