@use 'styles/colors';
@use 'styles/constants';
@use 'styles/text';

.link {
  display: flex;
  align-items: center;
  width: max-content;

  transition: 200ms;

  &--s {
    @include text.text-s;

    height: 24px;
    padding: 0 12px;

    border-radius: constants.$radius-s;
  }

  &--m {
    @include text.text-m;

    height: 32px;
    padding: 0 16px;

    border-radius: constants.$radius-m;
  }

  &--l {
    @include text.text-l;

    height: 40px;
    padding: 0 24px;

    border-radius: constants.$radius-l;
  }
}

.link--fill {
  color: colors.$white;

  &.link--blue {
    background-color: colors.$blue;

    &:hover {
      background-color: colors.$dark-blue;
    }

    &:active {
      background-color: colors.$darker-blue;
    }
  }

  &.link--white {
    color: colors.$darkest-blue;
    background-color: colors.$white;

    &:hover {
      background-color: colors.$lighter-gray;
    }

    &:active {
      background-color: colors.$light-gray;
    }

    &.link--light-mode {
      color: colors.$white;
      background-color: colors.$black;

      &:hover {
        background-color: colors.$darker-gray;
      }

      &:active {
        background-color: colors.$gray;
      }
    }
  }

  &.link--black {
    color: colors.$white;
    background-color: colors.$black;

    &:hover {
      background-color: colors.$darker-gray;
    }

    &:active {
      background-color: colors.$gray;
    }

    &.link--dark-mode {
      color: colors.$darkest-blue;
      background-color: colors.$white;

      &:hover {
        background-color: colors.$lighter-gray;
      }

      &:active {
        background-color: colors.$light-gray;
      }
    }
  }
}

.link--outline {
  border-width: 1px;
  border-style: solid;

  &.link--blue {
    color: colors.$blue;

    border-color: colors.$blue;

    &:hover {
      background-color: colors.$blue10;
    }

    &:active {
      background-color: colors.$blue25;
    }
  }

  &.link--white {
    color: colors.$white;
    border-color: colors.$white;

    &:hover {
      background-color: colors.$white20;
    }

    &:active {
      background-color: colors.$white25;
    }

    &.link--light-mode {
      color: colors.$black;
      border-color: colors.$black;

      &:hover {
        background-color: colors.$black5;
      }

      &:active {
        background-color: colors.$black10;
      }
    }
  }

  &.link--black {
    color: colors.$black;
    border-color: colors.$black;

    &:hover {
      background-color: colors.$black5;
    }

    &:active {
      background-color: colors.$black10;
    }

    &.link--dark-mode {
      color: colors.$white;
      border-color: colors.$white;

      &:hover {
        background-color: colors.$white20;
      }

      &:active {
        background-color: colors.$white25;
      }
    }
  }
}

.link--text {
  display: inline-block;
  height: auto;
  padding: 0;

  &:hover {
    text-decoration: underline;
    text-underline-position: from-font;
  }

  &.link--blue {
    color: colors.$blue;
  }

  &.link--white {
    color: colors.$white;

    &.link--light-mode {
      color: colors.$black;
    }
  }

  &.link--black {
    color: colors.$black;

    &.link--dark-mode {
      color: colors.$white;
    }
  }
}
