name: Publish Docker Image

# on:
#   push:
#     tags:
#       - 'v[0-9]+.[0-9]+.[0-9]+*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to GitHub Packages
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PUBLISH_TOKEN }}

      - name: Add to ENV extracted tag version
        run: |
          echo "IMAGE_VERSION=$(echo "${{ github.ref_name }}" | sed 's/v//')" >> $GITHUB_ENV

      - name: Build the Docker image
        run: docker build . --tag ${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }}

      - name: Tag and push Docker image to GitHub Packages
        run: |
          docker tag ${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }}
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }}
